* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  max-width: 900px;
  margin: 2rem auto;
}

/* Matrix field */
.field {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid gray;
}
.field:focus {
  border: 2px solid black;
}

/* Matrix Layout */

.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Size Form */
.form-container {
  display: flex;
  max-width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.input-group {
  margin: 0 auto 1rem auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group label {
  margin-right: 1rem;
}
.input {
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  width: 100px;
  border-radius: 0.5rem;
  border: 1px solid black;
  outline: none;
  text-align: center;
}

.button {
  background-color: #282c34;
  border-radius: 0.3rem;
  border: 1px solid #282c34;
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1.2rem;
}
.button:hover {
  background-color: #ffffff;
  color: #282c34;
  cursor: pointer;
}

/* Marix Board */
.matrix-board {
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 0 8px 2px #888;
}

/* Matrix Layout */

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column-reverse;
}

/* UTILITIES */
.error {
  color: rgba(255, 0, 0, 0.699);
}
